@use "../vars.scss" as vars;

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: vars.pxtorem(10) vars.$spaces;
    background-color: vars.$primary-color;
    color: vars.$text-color;
}