

@use "../vars.scss" as vars;
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px vars.$spaces;
    background-color: vars.$primary-color;
    color: vars.$text-color;
}