@use "sass:color" as color;
@use "../vars.scss" as vars;

a {
    background-color: color-mix(in srgb, vars.$primary-color 70%, #000 20%);
    color: vars.$text-color;
    padding: vars.pxtorem(10);
    border-radius: vars.pxtorem(5);
    text-decoration: none;
}