<article [ngClass]="forHome?'home':''">
    <img [src]="product?.image" />
    <div class="details">
        <h3>{{product?.name}}</h3>
        <p class="desc">{{product?.description}}</p>

        <p class="price"><span class="title">Price:</span> {{product?.price|currency:"USD":"symbol"}}</p>
        <p class="status"><span class="title">Status:</span> @if (product?.qty!>0) {
            <span class="stock label">In stock</span>
            }
            @else {

            <span class="not-stock label"><strong>Not Avaliable</strong></span>
            }
        </p>
        @if (forHome) {
        <a [routerLink]="`/${product?.id}`" class="view">View More <fa-icon [icon]="faBookOpen"></fa-icon></a>
        }
    </div>
</article>