@use "./../vars.scss" as vars;

article {
    h3 {
        font-size: vars.pxtorem(23);
    }

    .view {
        background-color: vars.$primary-color;
        color: vars.$text-color;
        padding: vars.pxtorem(10);
        border-radius: vars.pxtorem(10);
        text-decoration: none;
        text-align: center;
        margin-top: 20px;
    }

    .price {

        margin-bottom: vars.pxtorem(10);

        margin-block: vars.pxtorem(10);
        border-radius: vars.pxtorem(9999);
    }

    .label {
        padding: vars.pxtorem(10);
        border-radius: vars.pxtorem(10);

        &.stock {
            background-color: oklch(92.5% 0.084 155.995);
            color: oklch(26.6% .065 152.934);
        }

        &.not-stock {
            background-color: oklch(88.5% .062 18.334);
            color: oklch(25.8% .092 26.042);
        }
    }

    &.home .details {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .title {
        font-weight: bold;
        margin-right: 10px;
    }

    img {
        width: 100%;
        object-fit: cover;
        border-radius: vars.pxtorem(10);
    }

    box-shadow: 0 0 vars.pxtorem(20) 0 #00000030;
    border-radius: vars.pxtorem(10);
    padding: vars.pxtorem(20);
    display: flex;
    align-items: center;
    flex-direction: column;

    &.home .desc {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    &:not(.home) {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
    }
}