@use "../vars.scss" as vars;

form{
    width: 100%;
    
    button{
        border-start-end-radius: 10px;
        border-end-end-radius: 10px;
        border: none;
        background-color: vars.$primary-color;
        padding-inline: 20px;
        
        color: vars.$text-color;
    }
   div{
    position: relative;
     .icon{
        color: vars.$text-color;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:first-of-type input{
                border-start-start-radius: 10px;
        border-end-start-radius: 10px;

    }
    input{
        background-color: color-mix(in srgb, vars.$primary-color 50%, #fff 50%);
        color:vars.$text-color;
        border: none;
        padding: 20px;
        padding-left: 40px;
        
        outline: none;
        &::placeholder{
 
    
            color: #eee;
        }
    }
   }
    display: flex;
    margin: 10px vars.$spaces;
}