@use "../vars.scss" as vars;

form {
    max-width: 100%;

    button {
        border-start-end-radius: vars.pxtorem(10);
        border-end-end-radius: vars.pxtorem(10);
        border: none;
        background-color: vars.$primary-color;
        padding-inline: vars.pxtorem(20);

        color: vars.$text-color;
    }

    div {
        position: relative;

        .icon {
            color: vars.$text-color;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:first-of-type input {
            border-start-start-radius: 10px;
            border-end-start-radius: 10px;

        }

        input {
            background-color: color-mix(in srgb, vars.$primary-color 50%, #fff 50%);
            color: vars.$text-color;
            border: none;
            padding: vars.pxtorem(20);
            padding-left: vars.pxtorem(40);

            outline: none;

            &::placeholder {


                color: #eee;
            }
        }
    }

    display: flex;
    margin: vars.pxtorem(10) vars.$spaces;
}